[submodule "binge-companions"]
	path = binge-companions
	url = https://github.com/ScottCooper92/binge-companions
[submodule "design-system"]
	path = design-system
	url = https://github.com/ScottCooper92/binge-design-system.git
